*{
    font-family: 'Roboto', sans-serif;
}
/* Header Style */
nav.navbar.navbar-transparent{
    position: fixed;
    z-index: 9999;
    width: 100%;
    margin: 0px;
}
nav.navbar.navbar-transparent.navbar-fixed-top.scrolled {
    background-color: rgb(255 255 255);
    transition: background-color 200ms linear;
}
nav.navbar.navbar-transparent .navbar-header .navbar-brand{
    height: 100%;
    width: 308px;
}
nav.navbar.navbar-transparent .navbar-nav{
    padding: 21px 0px;
}
nav.navbar.navbar-transparent .navbar-nav li.active a,
.nav .open>a{
    border-bottom: 2px solid #D0A212;
}
.nav .open>a{
    background-color: transparent;
}
nav.navbar.navbar-transparent .navbar-nav li a:hover{
    background-color: transparent;
    border-bottom: 2px solid #D0A212;
}
nav.navbar.navbar-transparent .navbar-nav li a.tel-button{
    background: #007ACE;
    border-radius: 4px;
    border-bottom: none;
    color: #ffffff;
    padding: 12px 16px;
    position: relative;
}
nav.navbar.navbar-transparent .navbar-nav li a.tel-button .bpr-icon.ic-tel{
    background-image: url('../img/homepage/Telepon.png');
    width: 24px;
    height: 24px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
    margin-right: 10px;
}
nav.navbar.navbar-transparent .navbar-nav li a.tel-button:hover{
    background: #40a9f1;
}
nav.navbar.navbar-transparent .navbar-nav li a.dropdown-toggle {
    position: relative;
}
nav.navbar.navbar-transparent .navbar-nav li a.dropdown-toggle .bpr-icon.icon-chevron-down{
    background-image: url('../img/homepage/Dropdown.png');
    width: 12px;
    height: 5px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
    margin-left: 6px;
}
.navbar-nav>li>.dropdown-menu{
    left: -28%;
    top: 65px;
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}
.navbar-nav>li>.dropdown-menu::before{
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-bottom: 11px dashed;
    border-right: 9px solid transparent;
    border-left: 9px solid transparent;
    color: #ffffff;
    position: absolute;
    top: -11px;
    left: 42%;
}
nav.navbar.navbar-transparent .navbar-nav .dropdown-menu li a{
    color: #007ACE;
    font-size: 16px;
    padding: 9px 20px;
    text-align: center;
}
nav.navbar.navbar-transparent .navbar-nav .dropdown-menu li a:hover,
nav.navbar.navbar-transparent .navbar-nav .dropdown-menu li.active a{
    color: #ffffff;
    background-color: #d0a212;
    border-bottom: 0px;
}
/* Footer Style Area */
footer{
    background: #003C66;
}
footer .footer-area-top{
    padding-top: 51px;
    margin-bottom: 52px;
}
footer .footer-area-top .logo-comp{
    width: 256px;
    height: 100%;
}
footer .footer-area-top .logo-sponsor{
    width: 239px;
    height: 100%;
    float: right;
}
footer ul{
    list-style: none;
}
footer ul li a,
footer ul li p,
footer ul li h6,
footer .copyright p{
    color: #ffffff;
    margin-bottom: 0px;
}
footer ul li a:hover{
    text-decoration: none;
    color: #60aff5;
}
footer .copyright{
    border-top: 1px solid #FFFFFF;
    padding: 28px 0px;
}
footer .footer-widget{
    padding-bottom: 45px;
}
footer .footer-widget li{
    line-height: 24px;
    margin-bottom: 10px;
}
footer .footer-widget li h6{
    font-size: 14px;
}
footer .footer-widget ul.address-widget{
    padding-left: 0px;
}
footer .footer-widget ul.address-widget .bpr-icon.ic-mail{
    background-image: url('../img/homepage/Email.png');
    width: 20px;
    height: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
    margin-right: 10px;
}
footer .footer-widget ul.contact-widget{
    float: right;
}
footer .footer-widget ul.contact-widget li{
    position: relative;
    text-align: right;
}
footer .footer-widget ul.contact-widget li .bpr-icon.ic-phone{
    background-image: url('../img/homepage/Telepon.png');
    width: 24px;
    height: 24px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
    margin-right: 10px;
    position: absolute;
    left: -35px;
    top: -4px;
}
/* End Footer Style Area */

/* Floating Widget Area*/
.floating-widget{
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.floating-widget a{
    color: #ffffff;
}
.floating-widget a:hover{
    text-decoration: none;
}
.floating-widget p{
    margin-bottom: 0px;
    font-size: 18px;
    line-height: 21px;
}
.floating-widget .circle-logo{
    background: #F8F8F8;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    height: 82px;
    width: 82px;
    position: absolute;
    left: -36px;
    top: -12px;
    padding: 15px;
}
.floating-widget .circle-logo img{
    width: 52px;
    height: 52px;
    display: inline-block;
}
.floating-widget .button-chat{
    background: #02A63F;
    box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    padding: 19px 19px 19px 60px;
}
/* End Floating Widget Area */

/* HOME PAGE */
.content-area .content-banner{
    position: relative;
}
.content-area .content-banner .carousel.slide{
    min-height: 700px;
    background-color: #ECF8FF;
    padding-top: 90px;
}
.content-area .content-banner .carousel.slide .text-area{
    height: 520px;
    display: table-cell;
    vertical-align: middle;
}
.content-area .content-banner .carousel.slide .text-area h2{
    font-size: 35px;
    line-height: 47px;
    color: #0464A6;
    font-weight: 600;
    margin: 0px 0px 10px; 
}
.content-area .content-banner .carousel.slide .text-area p{
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #4A4A4A;
    margin-bottom: 0px;
}
.content-area .content-banner .carousel.slide .carousel-indicators{
    left: 37%;
    bottom: 21%;
    margin-bottom: 0px;
    text-align: left;
}
.content-area .content-banner .carousel.slide .carousel-indicators li{
    border: none;
    background-color: #C4C4C4;
    width: 13px;
    height: 13px;
    margin: 0px 7px;
}
.content-area .content-banner .carousel.slide .carousel-indicators li.active{
    background-color: #007ACE;
    border: none;
    width: 13px;
    height: 13px;
}
.content-area .content-banner .carousel.slide .carousel-control.left{
    position: absolute;
    background-image: none;
    height: 100%;
}
.content-area .content-banner .carousel.slide .bpr-icon.icon-chevron-left{
    background-repeat: no-repeat;
    background-size: 9px;
    background-image: url(../img/homepage/ArrowLeft.png);
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 24%;
    background-color: #ffffff;
    text-align: center;
    background-position: center;
}
.content-area .content-banner .carousel.slide .bpr-icon.icon-chevron-right{
    background-repeat: no-repeat;
    background-size: 9px;
    background-image: url(../img/homepage/ArrowRight.png);
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 4%;
    background-color: #ffffff;
    text-align: center;
    background-position: center;
}
.content-banner-block{
    position: absolute;
    left: 6%;
    bottom: -41px;
    background-color: #0464A6;
    min-height: 137px;
    width: 87%;
}
.content-banner-block .content-banner-block-blue{
    color: #ffffff;
    padding: 30px 30px;
}
.content-banner-block .content-banner-block-blue ul.listings-content{
    margin: 0px;
    padding-left: 0px;
    list-style: none;
    display: flex;
}
.content-banner-block .content-banner-block-blue ul.listings-content li{
    flex-direction: column;
    border-right: 1px solid #ffffff;
    padding: 0px 60px 0px 80px;
    position: relative;
}
.content-banner-block .content-banner-block-blue ul.listings-content li:last-child{
    border-right: none;
}
.content-banner-block .content-banner-block-blue ul.listings-content li .content-blue h5{
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 12px;
    margin-top: 0px;
}
.content-banner-block .content-banner-block-blue ul.listings-content li .bpr-icon{
    position: absolute;
    background-image: url('../img/homepage/Tabungan.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    left: 38px;
    top: -4px;
}
.content-banner-block .content-banner-block-blue ul.listings-content li .bpr-icon.icon-credit{
    background-image: url('../img/homepage/Kredit.png');
}
.content-banner-block .content-banner-block-blue ul.listings-content li .bpr-icon.icon-deposite{
    background-image: url('../img/homepage/Deposito.png');
}
.section-about{
    padding-top: 180px;
    padding-bottom: 130px;
}
.section-about .container{
    position: relative;
}
.section-about .bg-blue{
    display: block;
    width: 70%;
    position: absolute;
    right: 0px;
    background-color: #007ACE;
    height: 470px;
    bottom: 0px;
}
.section-about .text-about-home{
    color: #ffffff;
}
.section-about .text-about-home h5{
    margin: 30px 0px 15px;
}
.section-about .text-about-home h2{   
    margin: 0px 0px 22px;
}
.section-about .text-about-home p{
    font-size: 16px;
    line-height: 29px;
}
.section-mission{
    padding: 70px 0px;
    background-color: #F9FBFC;
}
.section-mission .mission-listing img{
    width: 68px;
}
.section-mission-title{
    margin-bottom: 70px;
}
.section-mission-title h4{
    margin: 0px;
    font-weight: 400;
}
.section-mission-title h2{
    font-weight: 600;
    color: #0464A6;
}
.mission-listing .row{
    margin-bottom: 90px;
}
.mission-listing .row:last-child{
    margin-bottom: 0px;
}
.mission-text h3{
    font-size: 21px;
    font-weight: 600;
    color: #4A4A4A;
}
.mission-text p{
    font-size: 18px;
    font-weight: 400;
    color: #4A4A4A;
}
.section-otorise{
    padding: 75px;
}
.section-otorise .logo-otorise{
    width: 60%;
}
.section-otorise .text-otorise{
    margin-bottom: 0px;
    margin-top: 7px;
    font-size: 14px;
}
/* End HOME PAGE */

/* ABOUT AREA */
.about-area .about-banner{
    min-height: 551px;
    background-image: url('../img/tentangBPR/Tentang\ BPR\ Banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.about-area .about-banner .about-banner-text{
    height: 551px;
    display: table-cell;
    vertical-align: middle;
}
.about-area .about-banner .about-banner-text h2{
    font-size: 40px;
    font-weight: 600;
    color: #0464A6;
    margin-bottom: 30px;
}
.about-area .about-banner .about-banner-text p{
    font-size: 18px;
    line-height: 31px;
    color: #4A4A4A;
}
.about-area .about-history{
    padding: 140px 0px;
}
.about-area .about-history .history-text h4{
    color: #9B9B9B;
}
.about-area .about-history .history-text h2{
    font-size: 32px;
    font-weight: 600;
    color: #0464A6;
    margin-bottom: 30px;
}
.about-area .about-history .history-text p{
    color: #4A4A4A;
    font-size: 16px;
    line-height: 28px;
}
.about-area .about-vision{
    padding: 71px 0px;
    background-color: #007ACE;
    text-align: center;
    color: #ffffff;
    position: relative;
    z-index: -2;
}
.about-area .about-vision-title h4{
    font-size: 21px;
    font-weight: 400;
}
.about-area .about-vision-title h2{
    font-size: 30px;
    font-weight: 500;
    color: #ffffff;
}
.about-area .about-vision-text{
    position: relative;
    width: 60%;
    margin: 80px auto 0px;
    font-size: 21px;
    font-weight: 300;
    line-height: 32px;
}
.about-area .about-vision-text::after{
    content: '';
    background-image: url('../img/tentangBPR/quotes.png');
    background-repeat: no-repeat;
    display: inline-block;
    height: 80px;
    width: 112px;
    position: absolute;
    top: -30px;
    left: 43%;
    z-index: -1;
}
.about-area .about-history.bg-blue{
    background-color: #F9FBFC;
}
.section-mission.bg-white{
    background-color: #ffffff;
}
/* END ABOUT AREA */

/* CONTACT AREA */
.contact-area .contact-banner{
    min-height: 551px;
    background-image: url('../img/kontakBPR/Banner\ Kontak.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}
.contact-area .contact-banner .about-banner-text{
    height: 551px;
    display: table-cell;
    vertical-align: middle;
}
.contact-area .contact-banner .about-banner-text h2{
    font-size: 40px;
    font-weight: 600;
    color: #0464A6;
    margin-bottom: 30px;
}
.contact-area .contact-banner .about-banner-text p{
    font-size: 18px;
    line-height: 31px;
    color: #4A4A4A;
}
.contact-content{
    padding: 100px 0px;
    position: relative;
}
.contact-content .bg-half-blue{
    width: 50%;
    background-color: #0074CE;
    position: absolute;
    right: 0px;
    top: 0px;
    display: inline-block;
    height: 100%;
}
.contact-content .container .row{
    margin-left: -15px;
}
.contact-content .content-form{
    padding-right: 50px;
}
.contact-content .content-title h3{
    margin: 0px;
    padding: 0px 0px 75px;
    color: #0464A6;
}
.contact-content .content-title h3.white{
    color: #ffffff;
}
.contact-content .content-form-entry .form-group{
    margin-bottom: 25px;
}
.contact-content .content-form-entry label{
    font-size: 16px;
    color: #4A4A4A;
    font-weight: 400;
    margin-bottom: 10px;
}
.contact-content .content-form-entry input.form-control{
    height: 53px;
    border-radius: 6px;
    box-shadow: none;
    border:1px solid #9B9B9B;
}
.contact-content .content-form-entry .form-group textarea{
    height: 111px;
    border-radius: 6px;
    box-shadow: none;
    border:1px solid #9B9B9B;
}
.contact-content .content-form-entry button.btn{
    background: #D0A212;
    border-radius: 6px;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    padding: 12px;
    width: 23%;
    border: none;
    box-shadow: none;
}
.contact-content .content-form-entry button.btn:hover{
    background-color: #02a63f;
}
.contact-content .content-information{
    padding-left: 50px;
}
.contact-content .content-information .content-information-list ul{
    list-style: none;
    padding-left: 77px;
    margin: 0px;
    color: #ffffff;
}
.contact-content .content-information .content-information-list ul li{
    margin-bottom: 70px;
    position: relative;
}
.contact-content .content-information .content-information-list ul li:last-child{
    margin-bottom: 0px;
}
.contact-content .content-information .content-information-list ul li .bpr-icon{
    position: absolute;
    background-image: url('../img/kontakBPR/Lokasi.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    top: 0px;
    left: -80px;
}
.contact-content .content-information .content-information-list ul li .bpr-icon.icon-phone{
    background-image: url('../img/kontakBPR/Telepon.png');
}
.contact-content .content-information .content-information-list ul li .bpr-icon.icon-mail{
    background-image: url('../img/kontakBPR/Email.png');
}
.contact-content .content-information .content-information-list ul li p{
    font-size: 14px;
    width: 60%;
    line-height: 25px;
}
.contact-content .content-information .content-information-list ul li a{
    text-decoration: none;
    color: #ffffff;
}
.contact-content .content-information .content-information-list ul li a:hover{
    text-decoration: none;
}
/* END CONTACT AREA */

/* INFORMATION AREA */
.info-area .info-banner{
    min-height: 551px;
    background-image: url('../img/infoBPR/Informasi\ BPR.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}
.info-area .info-banner .about-banner-text{
    height: 551px;
    display: table-cell;
    vertical-align: middle;
}
.info-area .info-banner .about-banner-text h2{
    font-size: 40px;
    font-weight: 600;
    color: #0464A6;
    margin-bottom: 30px;
}
.info-area .info-banner .about-banner-text p{
    font-size: 18px;
    line-height: 31px;
    color: #4A4A4A;
}
.info-area .info-content{
    padding: 51px 0px;
}
.info-content-header .container .row{
    margin-left: -15px;
}
.info-content-header .category{
    display: flex;
}
.info-content-header .category span{
    width: 18%;
    align-self: center;
}
.info-content-header .category .form-control{
    width: 35%;
    align-self: center;
    background: #FFFFFF;
    border: 1px solid #9B9B9B;
    box-sizing: border-box;
    border-radius: 6px;
    height: 40px;
}
.info-content-header .search .search-form{
    position: relative;
}
.info-content-header .search .search-form button{
    background-color: transparent;
    border: none;
    box-shadow: none;
    position: absolute;
    left: 31%;
    top: 7px;
}
.info-content-header .search .search-form button:focus{
    outline: none;
}
.info-content-header .search .search-form input{
    background: #FFFFFF;
    border: 1px solid #9B9B9B;
    box-sizing: border-box;
    border-radius: 6px;
    height: 40px;
    padding: 0px 15px 0px 50px;
    width: 70%;
}
.nav-pagination{
    border-top: 0.3px solid #A9A9A9;
    padding: 44px 0px 0px;
}
.nav-pagination .pagination-number{
    display: block;
    list-style: none;
    padding-left: 0px;
    margin: 0px;
    text-align: center;
}
.nav-pagination .pagination-number li{
    display: inline-block;
    margin: 0px 5px;
}
.nav-pagination .pagination-number li:first-child a{
    color: #D0A212;
}
.nav-pagination .pagination-number li:last-child a{
    color: #D0A212;
}
.nav-pagination .pagination-number li a{
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    color: #9B9B9B;
}
.nav-pagination .pagination-number li.current a{
    background: #D0A212;
    border-radius: 6px;
    color: #ffffff;
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
}
.nav-pagination .pagination-number li a:hover{
    color:#D0A212;
    text-decoration: none;
}
.content-article{
    padding: 40px 0px;
}
.content-article .container .row{
    margin-left: -15px;
}
.content-article .article-listings .mb-30{
    margin-bottom: 30px;
}
.content-article .article-listings .article-item .image-post{
    margin-bottom: 20px;
}
.content-article .article-listings .article-item .index-post{
    min-height: 230px;
}
.content-article .article-listings .article-item .index-post .header-title{
    display: flex;
}
.content-article .article-listings .article-item .index-post .header-title span{
    width: 50%;
}
.content-article .article-listings .article-item .index-post .header-title span.post-category{
    color:#D0A212;
}
.content-article .article-listings .article-item .index-post .header-title span.post-date{
    text-align: right;
    color: #9B9B9B;
}
.content-article .article-listings .article-item .index-post .post-title{
    color: #0074CE;
    font-weight: 600;
    font-size: 20px;
}
.content-article .article-listings .article-item .index-post .post-resume{
    color: #4A4A4A;
    line-height: 25px;
}
.content-article .article-listings .article-item .read-more a{
    display: inline-block;
    background: #0074CE;
    border-radius: 6px;
    color: #ffffff;
    width: 40%;
    text-align: center;
    padding: 10px 0px;
    text-decoration: none;
}
.content-article .article-listings .article-item .read-more a:hover{
    background-color: #D0A212;
}
/* END INFORMATION AREA */

/* Product Tabungan Page */
.product-tabungan-area .product-tabungan-banner{
    min-height: 551px;
    background-image: url('../img/produk/Tabungan/Banner\ Tabungan.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}
.product-tabungan-area .product-tabungan-banner .about-banner-text{
    height: 551px;
    display: table-cell;
    vertical-align: middle;
}
.product-tabungan-area .product-tabungan-banner .about-banner-text h2{
    font-size: 40px;
    font-weight: 600;
    color: #0464A6;
    margin-bottom: 30px;
}
.product-tabungan-area .product-tabungan-banner .about-banner-text p{
    font-size: 18px;
    line-height: 31px;
    color: #4A4A4A;
}
.tabungan-content{
    padding: 90px 0px;
    background: #F9FBFC;
}
/* End Product Tabungan Page */